/* Botão fixo no canto da tela */
.whatsapp-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.whatsapp-fixed img {
    width: 30px;
    margin-right: 10px;
}

/* Modal (Overlay) */
.modal-overlay {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

/* Conteúdo da Modal */
.modal-content {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmar-zap {
    background: #25d366;
    color: white;
    font-weight: bold;
}

.btn-cancelar {
    background: #eee;
    color: #333;
}