:root {
    --colors-white: #FFFFFF;
    --space-8: 2rem;
    --space-12: 3rem;
    --radii-full: 99999px;
    --space-3: 0.75rem;
}

body {
    background-color: rgb(41 41 46);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #6fffd2;
}

/* BOTÃO WHATSAPP ESTILO 1 */
.c-gymMyL {
    all: unset;
    color: var(--colors-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--space-8);
    width: var(--space-8);
    position: fixed;
    bottom: var(--space-12);
    right: var(--space-12);
    background: linear-gradient(156deg, #25d366 0%, #128c7e 100%);
    border-radius: var(--radii-full);
    padding: var(--space-3);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .4);
    z-index: 1000;
}

.c-gymMyL:hover {
    transform: scale(1.1);
}

/* MODAL */
.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    max-width: 300px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#confirmar-zap {
    background: #25d366;
    color: white;
    font-weight: bold;
}

.btn-cancelar {
    background: #eee;
    color: #333;
}